@page "/meanings"
@using IlterisDictionary.Pages
@using IlterisDictionaryLibrary.ViewModels
@inject Services.SharedData SharedData
<PageTitle>Meanings</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

else
{
<table class="table">
    <thead>
        <tr>
            <th>Word</th>
            <th>Meaning</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in MeaningEntries)
        {
            <tr>
                <td>
                    @entry.Word
                </td>
            </tr>
            <tr>
                <td>
                    <div id="@entry.IlterisDictionaryEntryID.ToString()">
                        <p>
                            @entry.Word
                        </p>
                        <hr />
                        <p>
                            @entry.MeaningDescription
                        </p>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
}


